


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto+Mono:wght@200;400&display=swap');

.heading {
  font-family: Poppins;
}


.grid-main {
  display : grid;
  grid-template-columns: auto auto;
  gap:15px;
  margin-top: 40px;
}

.grid-child {
  border:  2px solid whitesmoke;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}
.grid-child:hover{
  background-color: blueviolet;
  color: aliceblue;
}

.grid-child h3{

  font-family : Poppins;
  font-weight: 700 ;
  

}

.grid-child p {

  font-family : Poppins;
  font-weight: 500 ;
  font: size 15px;

}

.text-area{
  font-size: 20px;
  padding:10px;
  font-family: Poppins;
}

.btn-success{
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-danger{
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;

}