


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto+Mono:wght@200;400&display=swap');

.heading {
  font-family: Poppins;
}


.grid-main {
  display : grid;
  grid-template-columns: auto auto;
  gap:15px;
}

.grid-child{
  border:2px soild whitesmoke;
  border-radius: 15px;
}
.grid-child h3{

  font-family : Poppins;
  font-weight: 700 ;
  

}

.grid-child p {

  font-family : Poppins;
  font-weight: 500 ;
  font: size 15px;

}